*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', Arial, sans-serif;

}



body{


min-height:100vh;


background-image:

linear-gradient(
rgba(0,0,0,0.45),
rgba(0,0,0,0.45)
),

url("friut.png.png");


background-size:cover;

background-position:center;

background-attachment:fixed;


display:flex;

justify-content:center;

align-items:center;

padding:20px;


}






.container{


width:100%;

max-width:600px;


}






.card{


background:rgba(255,255,255,0.92);


backdrop-filter:blur(12px);


padding:35px;


border-radius:30px;


box-shadow:

0 20px 50px rgba(0,0,0,0.35);



text-align:center;


}





h1{

color:#e67e22;

margin-bottom:20px;

}



h2{

color:#333;

margin:20px 0;

}



h3{

color:#27ae60;

margin-bottom:15px;

}





.intro{


color:#555;

margin-bottom:20px;


}










input{


width:100%;


padding:16px;


margin:10px 0;


border-radius:30px;


border:1px solid #ddd;


font-size:16px;


outline:none;


}



input:focus{


border-color:#3498db;


}








button{


border:none;


padding:15px 30px;


border-radius:50px;


font-size:16px;


cursor:pointer;


transition:0.3s;


box-shadow:

0 8px 15px rgba(0,0,0,0.15);


}



button:hover{


transform:translateY(-4px);


}





form button{


width:100%;


background:#27ae60;


color:white;


margin-top:15px;


}








#options{


display:flex;


flex-direction:column;


gap:15px;


}





.option{


width:100%;


background:#3498db;


color:white;


}




.option:hover{


background:#2980b9;


}






.correct{


background:green !important;


}



.wrong{


background:red !important;


}









.button-group{


display:flex;


justify-content:center;


gap:15px;


flex-wrap:wrap;


margin-top:25px;


}





#nextBtn{


background:#27ae60;


color:white;


}





#stopBtn{


background:#e74c3c;


color:white;


}





#reviewBtn{


background:#8e44ad;


color:white;


}





#restartBtn{


background:#f39c12;


color:white;


}




#newPlayerBtn{


background:#34495e;


color:white;


}









#resultMessage{


font-size:18px;


color:#27ae60;


margin:15px;


}





#reviewBox{


margin-top:25px;


text-align:left;


}




.review-item{


background:#f5f5f5;


padding:15px;


border-radius:20px;


margin-bottom:15px;


}





.hidden{


display:none;


}









@media(max-width:600px){



body{


padding:10px;


}




.card{


padding:20px;


border-radius:20px;


}





h1{


font-size:25px;


}




.button-group{


flex-direction:column;


}




button{


width:100%;


}



}